ms3_contacts_management/src/main/mule/contact-management-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="contact-management-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="contact-management-api-config" raml="contact-management-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="46eaeab6-9b0f-428f-a0cb-4d937083168e" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="password" database="contactsmanagerxyz" />
	</db:config>
	<flow name="contact-management-api-main">
        <http:listener config-ref="contact-management-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="contact-management-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="contact-management-api-console">
        <http:listener config-ref="contact-management-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="contact-management-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\contacts:contact-management-api-config">
        <http:listener doc:name="Listener" doc:id="67aa48a1-e92c-4e87-bc91-1b0940d5160a" config-ref="contact-management-api-httpListenerConfig" path="/put" allowedMethods="PUT"/>
		<db:update doc:id="1491a5c8-fde6-4eb0-8e1a-a3d60e978ff0" config-ref="Database_Config">
			<db:sql >UPDATE xyz
SET identification_Title = 'MuleDev', Address_City= 'VA'
WHERE identification_FirstName ='Dav';</db:sql>
		</db:update>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="54d29b68-606d-46c0-a7ca-cc2ace31c2ed">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"User successfully updated"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\contacts:contact-management-api-config">
        <http:listener doc:name="Listener" doc:id="918b8f5f-a1c5-42c6-a586-767765af36c9" config-ref="contact-management-api-httpListenerConfig" path="/delete" allowedMethods="DELETE"/>
		<db:delete doc:name="Delete" doc:id="410455b7-8b0a-42db-a34b-bd71902398e6" config-ref="Database_Config">
			<db:sql >DELETE FROM xyz WHERE identification_FirstName='Fik';</db:sql>
		</db:delete>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"User successfully deleted"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\contacts:contact-management-api-config">
        <http:listener doc:name="Listener" doc:id="92b14671-131c-47f5-a44d-7917cbf975db" config-ref="contact-management-api-httpListenerConfig" path="/get" allowedMethods="GET"/>
		<db:select doc:name="Select" doc:id="3d0e3063-34d2-462c-8e94-4d5c03f63c45" config-ref="Database_Config">
			<db:sql >SELECT * FROM xyz</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="cf9004ac-b8c3-4ae7-8fad-1290869fb6c0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Identification: {
		FirstName: payload.identification_FirstName default "",
		LastName: payload.identification_LastName default "",
		DOB: payload.identification_DOB as String default "",
		Gender: payload.identification_Gender default "",
		Title: payload.identification_Title default ""
	},
	Address: payload map ( payload01 , indexOfPayload01 ) -> {
		"type ": payload01.Address_type default "",
		number: payload01.Address_number default 0,
		street: payload01.Address_street default "",
		Unit: payload01.Address_Unit default "",
		City: payload01.Address_City default "",
		State: payload01.Address_State default "",
		zipcode: payload01.Address_zipcode as String default ""
	},
	Communication: [{
		"type": payload.Communication_type default "",
		value: payload.Communication_value default "",
		preferred: payload.Communication_preferred default ""
	}]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\contacts:contact-management-api-config">
        <http:listener doc:name="Listener" doc:id="598218d9-d498-4596-85ed-1417d685845c" config-ref="contact-management-api-httpListenerConfig" path="/post" allowedMethods="POST"/>
		<db:insert doc:name="Insert" doc:id="50cf0479-0780-460f-b3fd-dfb388aeb96d" config-ref="Database_Config">
			<db:sql >INSERT INTO xyz VALUES
    ('Dem','Zewdie','1980-06-21 00:00:00','F','Manager','home',1234,'blah blah St','1a','Somewhere','WV',12345,'email','fi@sample.com','true'),
    ('Ho','Frederik','1980-06-21 00:00:00','F','Painter','home',1234,'blah blah St','1a','Somewhere','WV',12345,'cell','304-555-8282','true'),
('Heb','Abraham','1980-06-21 00:00:00','M','HR','home',1234,'blah blah St','1a','Somewhere','WV',12345,'cell','304-555-8282',NULL);</db:sql>
		</db:insert>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="7dba8158-d312-4e74-8259-03d5be7fbbe1">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
'contacts created successfully'
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
